body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
}

table > thead > tr > th {
    text-transform: uppercase;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    transition: all .2s;
}

.comma:not(:last-child)::after {
    content: ',';
}

/* .select2-selection__rendered {
    line-height: 30px !important;
} */
.select2-container .select2-selection--single {
    height: 36px !important;
}
.select2-selection__arrow {
    height: 36px !important;
}
